<div class="container-fluid">
<a class="navbar-brand" href="#">Maty Pollo</a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
    <a class="nav-link active" aria-current="page" href="#">Pollo Entero</a>
    <a class="nav-link" href="#">Entradas y Salidas</a>
    <a class="nav-link" href="#">Recoger Dinero</a>
    <a class="nav-link" href="#">Resumen</a>
    </div>
</div>
</div>